<div class="container">
    {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }}">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
