<div class="card">
    <img src="https://via.placeholder.com/380" class="card-img-top" alt=..."">
    <div class="card-body">
        <h3 class="card-title">
            <a href="#">Card title</a>
        </h3>
        <div class="actions">
            <a href="#" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
            <a href="#" title="Supprimer"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
</div>