<div class="card">
    {% set trick_thumbnail = get_trick_thumbnail(trick) %}
    <img src="{{ trick_thumbnail.url }}" class="card-img-top" alt="{{ trick_thumbnail.name }}">
    <div class="card-body">
        <h3 class="card-title">
            <a href="{{ path('trick_show', {'slug': trick.slug}) }}">{{ trick.name }}</a>
        </h3>
        {% if app.user %}
            <div class="actions">
                {% if is_granted('TRICK_EDIT', trick) %}
                    <a href="#" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                {% endif %}
                {% if is_granted('TRICK_DELETE', trick) %}
                    <a href="#" title="Supprimer"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>