{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-container form-small">
            <h1>
                Réinitialisation du<br>
                mot de passe
            </h1>

            {{ form_start(form) }}
                {{ form_row(form.username) }}

                <button type="submit" class="btn">Envoyer un email de réinitialisation</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}