{% extends 'base.html.twig' %}

{% block body %}
    {% include '_partials/banner.html.twig' with {
        'url': 'https://via.placeholder.com/1600x700',
        'alt': 'Bannière page d\'accueil',
        'classes': 'banner-homepage'
    } %}

    <section class="tricks" id="all-tricks">
        <div class="container">
            {% for item in 1..3 %}
                {% include "_partials/tricks/card.html.twig" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
