{% extends 'base.html.twig' %}

{% block body %}
    {% include '_partials/banner.html.twig' with {
        'url': 'https://via.placeholder.com/1600x700',
        'alt': 'Bannière page d\'accueil',
        'classes': 'banner-homepage'
    } %}

    <section id="all-tricks">
        {% if app.user %}
            <div class="container">
                <div class="row-actions">
                    <a href="{{ path('trick_create') }}" class="row-actions-item btn">Ajouter une nouvelle figure</a>
                </div>
            </div>
        {% endif %}
        <div class="container tricks">
            {% for item in 1..3 %}
                {% include "_partials/tricks/card.html.twig" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
