{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner banner-homepage">
        <img src="https://via.placeholder.com/1600x700" alt="Banner homepage">
    </div>

    <section class="tricks" id="all-tricks">
        <div class="container">
            {% for item in 1..3 %}
                {% include "_partials/tricks/card.html.twig" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
