.alert {
  margin: 5px 0;
  border-radius: 10px;
  border: 1px solid;
  padding: 10px;

  &-success {
    border-color: $alert-success;
    color: $alert-success;
    background-color: rgba(106, 168, 79, .1);
  }

  &-error {
    border-color: $alert-error;
    color: $alert-error;
    background-color: rgba(185, 25, 25, .1)
  }

  &-info {
    border-color: $alert-info;
    color: $alert-info;
    background-color: rgba(61, 133, 198, .1);
  }
}