.btn {
  display: block;
  margin: auto;
  border: 1px solid $color-accent;
  background-color: #fff;
  padding: 7px 40px;
  cursor: pointer;
  border-radius: 10px;
  transition: .4s ease;
  font-size: 14px;
  color: $color-text;
  text-decoration: none;

  &.align-left {
    margin-left: 0;
    margin-right: auto;
  }

  &:hover {
    background-color: $color-accent;
    color: #fff;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(214, 149, 91, .25);
  }
}