footer.main-footer {
    background-color: $color-secondary;
    margin-top: 50px;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @include responsiveWidth(600px) {
        margin-bottom: 53px;
    }
}