.main-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-primary;
  padding: 15px 0;
  z-index: 99;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: $color-secondary;
      text-decoration: none;

      &.logo {
        display: flex;
        align-items: center;
        font-size: 25px;

        img {
          margin-right: 15px;
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
    }

    ul.main-menu {
      margin: 0;
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 20px;
    }
  }
}
