.forgotten_password_form {
    min-height: 80vh;
    width: 100%;
    max-width: 400px;
    margin: 40px auto 0 auto;

    h1 {
        text-align: center;
        margin: 0 0 40px;
        width: 100%;
    }

    form {
        width: 100%;
    }
}