.banner.banner-homepage {
  height: 80vh;
}

a#see-tricks {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #fff;
  background-color: $color-primary;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
  border-radius: 50%;
  transition: .4s ease;

  &:hover {
    background-color: $color-accent;
  }
}

#all-tricks {
  margin: 30px 0;

  .row-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 20px;

    &-item {
      width: 100%;
      max-width: max-content;
      margin: 0;
    }
  }

  .container.tricks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}