.banner.banner-homepage {
  height: 80vh;
}

#all-tricks {
  margin: 30px 0;

  .row-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 20px;

    &-item {
      width: 100%;
      max-width: max-content;
      margin: 0;
    }
  }

  .container.tricks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}